* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 22px;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
}
p {
  margin-top: 20px;
}
.container {
  display: flex;
  justify-content: center;
}
.inner {
  min-width: 1500px;
}
.myScills {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0;
}
.img {
  width: 83px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 15px;
}
.img_css {
  width: 70px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.inner_href {
  width: 181px;
  height: 50px;
  padding: 0 15px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(
    78.55deg,
    #7a05ab 0%,
    #ee3d5a 48.44%,
    #f2bc12 100%
  );
  cursor: pointer;
  font-size: 18px;
  color: white;
}
.inner_href:hover {
  background: linear-gradient(
    264.48deg,
    #7a05ab 7.38%,
    #ee3d5a 47.97%,
    #f2bc12 91.19%
  );
}
.href {
  text-decoration: none;
  vertical-align: middle;
}
